$confirm-button-color: #05ad05;

.card {
  border: 2px solid #f0f0f0;
  margin-bottom: 20px !important;
  &-upload-input {
    width: 228px;
    margin-bottom: 24px !important;
    display: block;
  }
  &:nth-last-child {
    margin-bottom: 0 !important;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &-header-buttons {
    display: flex;
    margin-left: 40px;
  }
  &-title {
    margin-bottom: 20px;
  }
  &-info {
    margin-bottom: 20px;
  }
  &-head {
    display: flex;
    justify-content: space-between;
  }
  &-comment-field {
    margin-bottom: 0 !important;
  }
  &-buttons {
    display: flex;
    justify-content: space-between;
  }
  &-comment {
    //min-height: 150px;
    margin-top: 12px !important;
  }
}

.order-process {
  &-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &-steps {
    width: 44%;
    min-width: 276px;
    margin-right: 40px;
  }
  &-flow-state {
    flex-grow: 1;
  }
}

.button {
  &-confirm {
    color: $confirm-button-color !important;
    border-color: $confirm-button-color !important;
    &:hover {
      color: lighten($confirm-button-color, 9%) !important;
      border-color: lighten($confirm-button-color, 9%) !important;
    }
  }
}


