.table {
  &-row {
    cursor: pointer;
  }
  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    &-search {
      display: flex;
    }
  }
}
.range-picker-done {
  position: absolute;
}

.add-button {
  position: absolute;
  top: 20px;
  right: 24px;
}

